name: Systolic-GEMM

on: workflow_dispatch

env:
  SABANA_ACCESS_TOKEN: ${{secrets.SABANA_ACCESS_TOKEN}}
  SABANA_ID_TOKEN: ${{secrets.SABANA_ID_TOKEN}}

jobs:
  run-systolic-example:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 2
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python -m pip install pytest pyrtl sabana==0.1.22a1
      - name: Run Integer
        working-directory: ./c_axi_systolic_gemm_16x16_int/tests
        run: pytest .
      - name: Run Float
        working-directory: ./c_axi_systolic_gemm_16x16_float/tests
        run: pytest .
